<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>my-project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Does the OAuth dance</description>
    <display-name>DanceStart</display-name>
    <servlet-name>DanceStart</servlet-name>
    <servlet-class>com.myproject.servlets.DanceStart</servlet-class>
  </servlet>
  <servlet>
    <description>Handles the OAuth dance callback</description>
    <display-name>DanceCallback</display-name>
    <servlet-name>DanceCallback</servlet-name>
    <servlet-class>com.myproject.servlets.DanceCallback</servlet-class>
  </servlet>
    <servlet>
    <description>A servlet that uses the Alfresco API</description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.myproject.servlets.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanceStart</servlet-name>
    <url-pattern>/dance/start</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DanceCallback</servlet-name>
    <url-pattern>/dance/callback</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/api/info</url-pattern>
  </servlet-mapping>
</web-app>